<!-- <div class="wallpaper" style="min-height:100vh;min-width:95vw;">
    <div fxLayout="row" style="width:100%; height: 100vh;" fxLayoutAlign="center center">
        <section>
            <h1 class="main-text">
                MEDBOOK
            </h1>
        </section>
    </div>

</div> -->
<div class="mycontainer" [ngClass]="{'leave-page': leavePage}">

    <div class="clouds"></div>
    <div class="cross">
        <img class="cross-image" src="../../../assets/cross.png" alt="">
    </div>
    <div class="cross2">
        <img class="cross-image2" src="../../../assets/cross.png" alt="">
    </div>
    <div class="cross3">
        <img class="cross-image3" src="../../../assets/cross.png" alt="">
    </div>
    <div class="cross4">
        <img class="cross-image" src="../../../assets/cross.png" alt="">
    </div>
    <div class="cross5">
        <img class="cross-image3" src="../../../assets/cross.png" alt="">
    </div>
    <nk-screen-res 
    height="100" 
    width="95"  
    titleText = "MEDBOOK"
    fontColour = "#ffffff"
    fontSize = "4"
    isTitle="true"
    fontFamily="'Teko', sans-serif;"
    fontFamilyCaption="'Squada One', cursive;"
    captionText="Your health matters"
    (buttonClick)="buttonFunction()"
    isButton="true"
    isCaption="true"
    Image0="../../../assets/Wallpapers/0.png" 
    Image1="../../../assets/Wallpapers/1.png" 
    Image2 = "../../../assets/Wallpapers/2.png" 
    Image3 = "../../../assets/Wallpapers/3.png" 
    Image4 = "../../../assets/Wallpapers/4.png" 
    Image5 = "../../../assets/Wallpapers/5.png"
    Image6 = "../../../assets/Wallpapers/5.png">
    </nk-screen-res>
</div>
